
.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.button:hover::after {
  width: 100%;
  left: 0;

  background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
}

.button:hover {
  color: whitesmoke;
}

 html {
  scrollbar-color:#d515b4 #94bbe9;
  scrollbar-width:   initial 200px;
} 
  .underlined {
      text-decoration: underline;
    }