 html {
  scrollbar-color:#d515b4 #94bbe9;
  scrollbar-width:   initial 200px;
} 

/* * {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
 *::-webkit-scrollbar {
   width: 5px;
 }

 *:hover::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: lightblue;
}
*::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 20px;
  border: 3px solid orange;
} */


