.portfolioBoxM {
    /* display: block; */
    justify-content: center;
}

.portfolioBoxL {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    padding:"10px" ;
}

.ResourcesCardBoxL{
    padding: 40px;
}